body {
	background-color: #ffffff;
}

.form-wrapper {
	border-radius: 7px;
}

.form-wrapper label {
	font-weight: bold;
}

.errors li {
	list-style: none;
	width: 100%;
	text-align: center;
}

.errors ul {
	padding-left: 0;
	margin-bottom: 0;
}

.pl {
	padding-left: 52px;
}

.pr {
	padding-right: 31px;;
}

@media (max-width: 768px) {
	.form-wrapper .text-right {
		text-align: center !important;
	}

	.form-wrapper .btn-primary {
		display: block;
		margin: 0 auto;
	}
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.button_outer {
	background: #83ccd3;
	text-align: center;
	height: 50px;
	width: 120px;
	display: inline-block;
	transition: .2s;
	position: relative;
	overflow: hidden;
}

.btn_upload {
	padding: 12px 12px 12px;
	color: #fff;
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: hidden;
	z-index: 3;
	white-space: nowrap;
}

.btn_upload input {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	width: 100%;
	height: 105%;
	cursor: pointer;
	opacity: 0;
}

.btn-circle .btn-sm {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	font-size: 8px;
	text-align: center;
}

.error_msg {
	color: #2d9095;
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: hidden;
	z-index: 3;
	white-space: nowrap;
}

.ahashakeheartache {
	-webkit-animation: kf_shake 0.4s 1 linear;
	-moz-animation: kf_shake 0.4s 1 linear;
	-o-animation: kf_shake 0.4s 1 linear;
}

@-webkit-keyframes kf_shake {
	0% {
		-webkit-transform: translate(30px);
	}
	20% {
		-webkit-transform: translate(-30px);
	}
	40% {
		-webkit-transform: translate(15px);
	}
	60% {
		-webkit-transform: translate(-15px);
	}
	80% {
		-webkit-transform: translate(8px);
	}
	100% {
		-webkit-transform: translate(0px);
	}
}

@-moz-keyframes kf_shake {
	0% {
		-moz-transform: translate(30px);
	}
	20% {
		-moz-transform: translate(-30px);
	}
	40% {
		-moz-transform: translate(15px);
	}
	60% {
		-moz-transform: translate(-15px);
	}
	80% {
		-moz-transform: translate(8px);
	}
	100% {
		-moz-transform: translate(0px);
	}
}

@-o-keyframes kf_shake {
	0% {
		-o-transform: translate(30px);
	}
	20% {
		-o-transform: translate(-30px);
	}
	40% {
		-o-transform: translate(15px);
	}
	60% {
		-o-transform: translate(-15px);
	}
	80% {
		-o-transform: translate(8px);
	}
	100% {
		-o-origin-transform: translate(0px);
	}
}

.file_manager .file a:hover .hover,
.file_manager .file .file-name small {
	display: block;
}

.file_manager .file {
	padding: 0 !important
}

.file_manager .file .icon {
	text-align: center
}

.file_manager .file {
	position: relative;
	border-radius: .55rem;
	overflow: hidden
}

.file_manager .file .image,
.file_manager .file .icon {
	max-height: 180px;
	overflow: hidden;
	background-size: cover;
	background-position: top
}

.file_manager .file .hover {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	transition: all 0.2s ease-in-out
}

.file_manager .file a:hover .hover {
	transition: all 0.2s ease-in-out
}

.file_manager .file .icon {
	padding: 15px 10px;
	display: table;
	width: 100%
}

.file_manager .file .icon i {
	display: table-cell;
	font-size: 30px;
	vertical-align: middle;
	color: #777;
	line-height: 100px
}

.file_manager .file .file-name {
	padding: 10px;
	border-top: 1px solid #f7f7f7
}

.file_manager .file .file-name small .date {
	float: right
}

@media only screen and (max-width: 992px) {
	.file_manager .nav-tabs {
		padding-left: 0;
		padding-right: 0
	}

	.file_manager .nav-tabs .nav-item {
		display: inline-block
	}
}

.card {
	background: #fff;
	transition: .5s;
	border: 0;
	margin-bottom: 30px;
	border-radius: .55rem;
	position: relative;
	width: 100%;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

a:hover {
	text-decoration: none;
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(255, 255, 255, 0.8) url("https://i.gifer.com/VAyR.gif") center no-repeat;
}

body {
	text-align: center;
}

/* Turn off scrollbar when body element has the loading class */
body.loading {
	overflow: hidden;
}

/* Make spinner image visible when body element has the loading class */
body.loading .overlay {
	display: block;
}